.signup-form {
    display: flexbox;

}

.signup-credentials {
    margin: 10px;
    display: flexbox;
    flex-direction: column;
}

.modal {
    text-align: center;
    margin: 20px;
}

.inputs {
    margin: 10px 0px
}

.inputs:placeholder-shown {
    background-color: #c9d3e9;
}

#modal-content {
    border-radius: 20px;
    height: auto;
}
.login-form {
    display: flexbox;
}

.login-credentials {
    margin: 10px;
    display: flexbox;
    flex-direction: column;
}

.error-login {
    color: red;
}

.demo-user-signup {
    color: #5985E1;
    text-decoration: underline;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form > * {
    padding: 10px 5px;
}

button:disabled {
    background-color: #cccccc
}

.submit-button {
    display: block;
    width: auto;
    background-color: #5985E1;
    border-color: #5985E1;
    color: #ffffff;
    padding: 5px;
}
