.spots-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.curr-button {
    background-color: #5985E1;
    border-color: #5985E1;
    color: #ffffff;
    padding: 10px;
}
.header-container {
    margin: 0px 45px;
}
@media (max-width:1500px) {
    .spots-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1000px) {
    .spots-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:750px) {
    .spots-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
